
*{
    margin: 0;
    padding: 0;

}
:root{
    --cor1:#cdea8d9e;
    --cor2:#a7bc0984;
    --cor3:#019587;
    --cor4:#00785065;
    --cor5:#01415B;
}
body{
    width: 1080px;
    margin: auto;
    background-color: var(--cor1);
    
}
header{
    background-color:var(--cor4);
    display: flex;
    
    padding: 20px;
    
}
header nav{
    margin-left: 700px;
}
nav  li a {
    text-decoration: none;
    padding: 3px;
    font-size: small;
    padding: 8px;
    text-align: center;
}
nav li{
    margin-bottom: 3px;
    background-color: #019586b7;
    list-style-type: none;
    border-style:  solid;
    border-radius: 5px;
    border-color:  #01425ba8 ;
    width: 70px;
    height: 25px;
    
}
section{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
#img{
    width: 500px;
    margin-right: 12px;
}
#text{
    width: 700px;
}

