
*{
    margin: 0;
    padding: 0;

}
:root{
    --cor1:#cdea8d9e;
    --cor2:#a7bc0984;
    --cor3:#019587;
    --cor4:#00785065;
    --cor5:#01415B;
}
body{
    width: 1080px;
    margin: auto;
    background-color: var(--cor1);
    
}
header{
    background-color:var(--cor4);
    display: flex;
    font-family: "Kode Mono", monospace;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.415);
    border-radius: 0px 0px 10px 10px;
    
}
header nav{
    margin-left: 700px;
}
nav  li a {
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    font-size: small;
    
    text-align: center;
    font-family: "Kode Mono", monospace;
}
nav li{
    margin-bottom: 3px;
    background-color: #019586b7;
    list-style-type: none;
    border-style:  solid;
    border-radius: 5px;
    border-color:  #01425ba8 ;
    width: 80px;
    height: 19px;
    
}
section{
    display: flex;
    margin: auto;
    justify-content: space-between;
}

#img{
    width: 500px;
    height: 340px;
    border-radius: 20px 0px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.415);
    
}
#text h2{
    margin-bottom: 10px;
    font-family: "Kode Mono", monospace;
    
}
#text p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Times, serif;
    color: rgba(0, 0, 0, 0.712);
}
article{
    margin: 20px;
}

footer{
    font-family: "Kode Mono", monospace;
    background-color:var(--cor4);
    display: flex;
    padding: 30px;
    
}
.form input{
    background-color: #019586b7;
    box-shadow:inset 0.5px 0.5px 5px rgba(0, 0, 0, 0.415);
    border-style: none;
    padding: 8px;
    color: black;
    margin: 1px;
    border-radius: 5px;
    
}
.form textarea{
    background-color: #019586b7;
    box-shadow:inset 0.5px 0.5px 5px rgba(0, 0, 0, 0.415);
    border-style: none;
    padding: 8px;
    color: rgb(0, 0, 0);
    margin: 1px;
    border-radius: 5px;
    resize: none;
    width: 163px;
}
form button{
    width: 180px;
    height: 30px;
    background-color: #019586af;
    cursor: pointer;
    border-style: none;
    box-shadow:inset 0.5px 0.5px 5px rgba(0, 0, 0, 0.415);
}
 form button:hover{
    background-color: rgb(22, 138, 138);
}
footer article{
    margin-left: 80px;
    margin-top: 0px;
}
footer ul{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    
}
footer li{
    margin-left: 10px;
    margin-right: 10px; 
    list-style-type: none; 
}
.menor{
    width: 30px;
    height: auto;
    
}
/*/
 <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700


.kode-mono-<uniquifier> {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */